<div class="messages" #messageBox (scroll)="onScroll($event)">
    <div *ngFor="let msg of messages"
        [ngClass]="msg.senderId == currentUserId ? 'is-justify-content-end' : 'is-justify-content-start'"
        class="is-flex">
        <div class="message">
            <app-direct-message [message]="msg" (selectEmoji)="changeReaction(msg, $event)" />
        </div>
    </div>
</div>
<div>
    <div *ngIf="showEmoji">
        <app-emoji-select (select)="selectEmoji($event)" />
    </div>
    <div class="columns">
        <div class="column is-10">
            <textarea class="textarea" name="content" [(ngModel)]="newMessageContent"></textarea>
            <app-error-list *ngIf="errors.Content" [errors]="errors.Content" />
        </div>
        <div class="column">
            <button class="button" (click)="showEmoji = !showEmoji">Emoji</button>
            <input #fileInput class="input" type="file" multiple (change)="selectImages()">
            <button class="button is-info" (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>