.readbar {
    height: 5px;
}

.is-flex {
    flex-wrap: wrap;
}

.card {
    min-width: 20rem;
    max-width: 25rem;
}

img {
    max-height: 100%;
}

.emojis {
    position: absolute;
    bottom: 0px;
    right: 0px;
}